{% extends "layouts/default.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if saved %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          {{ t.cookiePreferences.successBanner[locale] | default("Success") }}
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          {{ t.cookiePreferences.successMessage[locale] | default("Your cookie settings have been saved") }}
        </p>
      </div>
    </div>
    {% endif %}

    <h1 class="govuk-heading-l">{{ t.cookiePreferences.title[locale] | default("Cookie preferences") }}</h1>
    
    <p class="govuk-body">{{ t.cookiePreferences.intro[locale] | default("We use cookies to make this service work and collect analytics information. To accept or reject cookies, choose an option below and save your preferences.") }}</p>

    <form action="/cookies/save-preferences" method="POST" class="cookie-preferences-form">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      
      <h2 class="govuk-heading-m">{{ t.cookiePreferences.essentialTitle[locale] | default("Essential cookies") }}</h2>
      <p class="govuk-body">{{ t.cookiePreferences.essentialDescription[locale] | default("These cookies are necessary for the service to function. They cannot be turned off.") }}</p>
      
      {% if categories.analytics %}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              {{ t.cookiePreferences.analyticsTitle[locale] | default("Analytics cookies") }}
            </h2>
          </legend>
          <div class="govuk-hint">
            {{ categories.analytics.description | default(t.cookiePreferences.analyticsDescription[locale]) | default("These cookies help us understand how you use the service so we can make improvements.") }}
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="analytics-yes" name="analytics" type="radio" value="on" {% if cookiePreferences.analytics %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="analytics-yes">
                {{ t.cookiePreferences.useAnalytics[locale] | default("Use analytics cookies") }}
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="analytics-no" name="analytics" type="radio" value="off" {% if not cookiePreferences.analytics %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="analytics-no">
                {{ t.cookiePreferences.doNotUseAnalytics[locale] | default("Do not use analytics cookies") }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      {% endif %}
      
      {% if categories.preferences %}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              {{ t.cookiePreferences.preferencesTitle[locale] | default("Settings cookies") }}
            </h2>
          </legend>
          <div class="govuk-hint">
            {{ categories.preferences.description | default(t.cookiePreferences.preferencesDescription[locale]) | default("These cookies remember your settings and preferences.") }}
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="preferences-yes" name="preferences" type="radio" value="on" {% if cookiePreferences.preferences %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="preferences-yes">
                {{ t.cookiePreferences.usePreferences[locale] | default("Use settings cookies") }}
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="preferences-no" name="preferences" type="radio" value="off" {% if not cookiePreferences.preferences %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="preferences-no">
                {{ t.cookiePreferences.doNotUsePreferences[locale] | default("Do not use settings cookies") }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      {% endif %}
      
      <button type="submit" class="govuk-button" data-module="govuk-button">
        {{ t.cookiePreferences.saveButton[locale] | default("Save cookie preferences") }}
      </button>
    </form>
  </div>
</div>
{% endblock %}