{% extends "layouts/default.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorSummary %}
      {{ govukErrorSummary(errorSummary) }}
    {% endif %}

    <form method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">{{ heading }}</h1>
          </legend>

          {{ govukInput({
            id: "addressLine1",
            name: "addressLine1",
            type: "text",
            autocomplete: "address-line1",
            label: {
              text: line1Label
            },
            errorMessage: errors.addressLine1,
            value: data.addressLine1 if data else ""
          }) }}

          {{ govukInput({
            id: "addressLine2",
            name: "addressLine2",
            type: "text",
            autocomplete: "address-line2",
            label: {
              text: line2Label
            },
            errorMessage: errors.addressLine2,
            value: data.addressLine2 if data else ""
          }) }}

          {{ govukInput({
            id: "town",
            name: "town",
            type: "text",
            autocomplete: "address-level2",
            classes: "govuk-!-width-two-thirds",
            label: {
              text: townLabel
            },
            errorMessage: errors.town,
            value: data.town if data else ""
          }) }}

          {{ govukInput({
            id: "postcode",
            name: "postcode",
            type: "text",
            autocomplete: "postal-code",
            classes: "govuk-input--width-10",
            label: {
              text: postcodeLabel
            },
            errorMessage: errors.postcode,
            value: data.postcode if data else ""
          }) }}
        </fieldset>
      </div>

      {{ govukButton({
        text: continue
      }) }}
    </form>

  </div>
</div>
{% endblock %}