{% extends "layouts/default.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: panelTitle,
      html: referenceLabel + '<br><strong>' + confirmationId + '</strong>'
    }) }}

    <h2 class="govuk-heading-m">{{ whatHappensNext }}</h2>

    <p class="govuk-body">{{ nextSteps }}</p>

    <p class="govuk-body">
      <a href="/" class="govuk-link">{{ returnButton }}</a>
    </p>

  </div>
</div>
{% endblock %}