{% extends "layouts/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block page_title %}
  {% if hasErrors %}Error: {% endif %}{{ title }}
{% endblock %}

{% block backLink %}
  {% if showBackLink %}
    {{ govukBackLink({
      text: "Back",
      href: "/onboarding/address"
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if hasErrors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}

      <form method="post" novalidate>
        <div class="govuk-form-group{% if errors.role %} govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">{{ title }}</h1>
            </legend>

            {% if errors.role %}
              <p id="role-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                {{ errors.role.text }}
              </p>
            {% endif %}

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="role-frontend" name="role" type="radio" value="frontend"
                       {% if formData.role == "frontend" %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="role-frontend">
                  {{ options.frontend }}
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="role-backend" name="role" type="radio" value="backend"
                       {% if formData.role == "backend" %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="role-backend">
                  {{ options.backend }}
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="role-test" name="role" type="radio" value="testEngineer"
                       {% if formData.role == "testEngineer" %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="role-test">
                  {{ options.testEngineer }}
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="role-other" name="role" type="radio" value="other"
                       data-aria-controls="conditional-role-other"
                       {% if formData.role == "other" %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="role-other">
                  {{ options.other }}
                </label>
              </div>

              <div class="govuk-radios__conditional{% if formData.role != 'other' %} govuk-radios__conditional--hidden{% endif %}" id="conditional-role-other">
                {{ govukInput({
                  id: "otherRole",
                  name: "otherRole",
                  type: "text",
                  label: {
                    text: otherLabel
                  },
                  errorMessage: errors.otherRole if errors.otherRole,
                  value: formData.otherRole
                }) }}
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: buttonText
        }) }}
      </form>

    </div>
  </div>
{% endblock %}