{% extends "layouts/default.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorSummary %}
      {{ govukErrorSummary(errorSummary) }}
    {% endif %}

    <form method="post" novalidate>

      {% set roleTypeError = errors.roleType %}
      {% set roleOtherError = errors.roleOther %}

      {{ govukRadios({
        idPrefix: "roleType",
        name: "roleType",
        fieldset: {
          legend: {
            text: heading,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        errorMessage: roleTypeError,
        items: [
          {
            value: "frontend-developer",
            text: options.frontendDeveloper,
            checked: data.roleType == "frontend-developer" if data
          },
          {
            value: "backend-developer",
            text: options.backendDeveloper,
            checked: data.roleType == "backend-developer" if data
          },
          {
            value: "test-engineer",
            text: options.testEngineer,
            checked: data.roleType == "test-engineer" if data
          },
          {
            value: "other",
            text: options.other,
            checked: data.roleType == "other" if data,
            conditional: {
              html: '
                <div class="govuk-form-group">
                  <label class="govuk-label" for="roleOther">
                    ' + otherLabel + '
                  </label>
                  ' + ('<span class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> ' + roleOtherError.text + '</span>' if roleOtherError) + '
                  <input class="govuk-input govuk-!-width-two-thirds ' + ('govuk-input--error' if roleOtherError) + '" id="roleOther" name="roleOther" type="text" value="' + (data.roleOther if data and data.roleOther else '') + '">
                </div>
              '
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: continue
      }) }}
    </form>

  </div>
</div>
{% endblock %}