{% extends "layouts/default.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ heading }}</h1>

    <p class="govuk-body">{{ description }}</p>

    <h2 class="govuk-heading-m">{{ beforeYouStart }}</h2>

    <p class="govuk-body">{{ youWillNeed }}</p>

    <ul class="govuk-list govuk-list--bullet">
      {% for requirement in requirements %}
        <li>{{ requirement }}</li>
      {% endfor %}
    </ul>

    <p class="govuk-body">{{ duration }}</p>

    <a href="/onboarding/name" role="button" draggable="false" class="govuk-button govuk-button--start">
      {{ startButton }}
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>

  </div>
</div>
{% endblock %}