{% extends "layouts/default.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>
      <p class="govuk-body-l">{{ description }}</p>
      
      <p class="govuk-body">
        This page demonstrates the file-system router in action. The route was automatically 
        discovered from the <code class="govuk-!-font-size-16">pages/about/index.ts</code> file.
      </p>
      
      <p class="govuk-body">
        The router supports:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Multiple HTTP methods (GET, POST, PUT, DELETE, etc.)</li>
        <li>Dynamic route parameters using [param] syntax</li>
        <li>Multiple mount points with prefixes</li>
        <li>Case-insensitive method exports</li>
        <li>Arrays of middleware handlers</li>
      </ul>
      
      <a href="/" class="govuk-back-link">Back to home</a>
    </div>
  </div>
{% endblock %}