{% extends "layouts/full-width.njk" %}

{% block backLink %}{% endblock %}

{% block page_content %}
  <div class="govuk-panel govuk-panel--confirmation" style="background-color: #1d70b8; margin-bottom: 40px;">
    <h1 class="govuk-panel__title" style="font-size: 48px;">
      {{ title }}
    </h1>
    <div class="govuk-panel__body" style="font-size: 24px; margin-top: 15px;">
      {{ subtitle }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body-l" style="text-align: center;">{{ intro }}</p>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half govuk-!-padding-right-8">
      <h2 class="govuk-heading-l">{{ cloudNativeTitle }}</h2>
      <p class="govuk-body">{{ cloudNativeDescription }}</p>
      <ul class="govuk-list">
        {% for feature in cloudNativeFeatures %}
          <li class="govuk-!-margin-bottom-4">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ feature.name }}</h3>
            <p class="govuk-body-s">{{ feature.description }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="govuk-grid-column-one-half govuk-!-padding-left-8">
      <h2 class="govuk-heading-l">{{ govukStarterTitle }}</h2>
      <p class="govuk-body">{{ govukStarterDescription }}</p>
      <ul class="govuk-list">
        {% for feature in govukStarterFeatures %}
          <li class="govuk-!-margin-bottom-4">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ feature.name }}</h3>
            <p class="govuk-body-s">{{ feature.description }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">{{ simpleRouterTitle }}</h2>
      <p class="govuk-body">{{ simpleRouterDescription }}</p>
      
      <div class="govuk-grid-row">
        {% for feature in simpleRouterFeatures %}
          <div class="govuk-grid-column-one-half govuk-!-margin-bottom-4">
            <div class="govuk-!-padding-3" style="border-left: 4px solid #1d70b8; background-color: #f8f8f8;">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ feature.name }}</h3>
              <p class="govuk-body-s">{{ feature.description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half govuk-!-padding-right-8">
      <h2 class="govuk-heading-l">{{ architectureTitle }}</h2>
      <p class="govuk-body">{{ architectureDescription }}</p>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        {% for feature in architectureFeatures %}
          <li>{{ feature }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="govuk-grid-column-one-half govuk-!-padding-left-8">
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            {{ gettingStartedTitle }}
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <ol class="govuk-list govuk-list--number govuk-list--spaced">
            {% for step in gettingStartedSteps %}
              <li>
                {{ step.text }} <code style="background-color: #f3f2f1; padding: 2px 6px; border-radius: 3px; font-family: monospace; font-size: 16px; white-space: nowrap;">{{ step.code }}</code>
              </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">{{ learnMoreTitle }}</h2>
      <p class="govuk-body">{{ learnMoreDescription }}</p>

      <h3 class="govuk-heading-s">{{ exampleFormTitle }}</h3>
      <p class="govuk-body">{{ exampleFormDescription }}</p>
      <p class="govuk-body">
        <a href="/onboarding/start" class="govuk-link">{{ exampleFormLinkText }}</a>
      </p>
    </div>
  </div>
{% endblock %}
