{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set bannerHtml %}
  {{ feedback.part1 }}<a class="govuk-link" aria-label="{{ feedback.ariaLabel }}" href="{{ feedback.link }}{{ pageUrl }}" target="_blank">{{ feedback.part2 }}</a>{{ feedback.part3 }}
  <a href="{{ languageToggle.link }}" class="govuk-link language">{{ languageToggle.text }}</a>
{% endset %}

{{ govukPhaseBanner({
  tag: {
    text: phase
  },
  html: bannerHtml
}) }}